
body{
    padding: 0;
    margin:0;
}


main{
    margin: 10px;
    padding: 1em 3em;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 a{
    text-decoration: none;
    color:whitesmoke;
}

h1{
    text-align: center;
}

h2,h3{
    text-align: center;
}

.home li{
    list-style-type: none;
    text-align:center;
    padding: 5px;
    margin: 1px;
    border: 1px ;
    width: 120px;
}


ul li a {
    text-decoration: none;
    color:whitesmoke ;
}

img{
    width: 400px;
    height:auto ;
}

.imagen-horizontal {
  width: 600px;
  width: 100%;
}


#banner{
    color: white;
    background: url(../img/img-produccion/\ grupal.jpg) top center / cover no-repeat;
    height: 800px;
    height: 800px;
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    flex-direction: column
    
}


footer{
    color: whitesmoke;
    padding: 20px;
}


header{
    padding: 50px;
    color: whitesmoke;
    
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}


main{
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
  padding:0 ;
  margin:0 ;
}


#zapato {
   display: flex;
   width: 10%;


}

#zapato:hover{
    box-shadow: rgb(224, 220, 228);
    filter: drop-shadow(0 0 3px rgb(223, 227, 233));
    scale: 1.3;
}

h1 ul{
    display: flex;
}

.primeracolumna,.primera-columna-curiosidades {
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    align-items: center;
}
.primeracolumna img{
    width: 350px;
}

.columna-segunda-pelicula{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.columna-segunda-pelicula img{
    width: 350px;
  
}


.spotify {
     max-width: 1000px;
     width: 90%;
     margin: 0 auto;
}

.dolce-gabbana{
    aspect-ratio: 16/9
}
.columna-home{
    display: flex;
}

#diablo-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

 #anaymiranda2 {
    width:70%;
}


#miranda-p{
    width:70% ;
}
  

.primera-columna-produccion{
    display: flex;
    text-align: center;
    align-items: center;
}
